<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What game should I play?</title>

    <link rel="stylesheet" href="./styles/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet" />
  </head>
  <body>
    <form action="/get-platform" method="post">
      <select name="platform">
          <% if(locals.platforms) { %>
              <% platforms.forEach(platform => { %>
                  <% if (platform.id === platformId) { %>
                    <option value="<%= platform.id %>" selected><%= platform.name %></option>
                  <% } else { %>
                    <option value="<%= platform.id %>"><%= platform.name %></option>
                  <% } %>
              <% }); %>
          <% } %>
      </select>
      <button type="submit">Random by platform</button>
    </form>
    <form action="/" method="get">
      <button type="submit">Random by nature</button>
    </form>

    <img src="<%= gameImage %>"/>
    <h1><%= gameName %></h1>
    <p><b>Platforms:</b> <%= gamePlatforms %></p>
    <p><b>Description:</b> <%= gameDeck %></p>
    <p><b>Release date:</b> <%= gameReleaseDate %></p>
    <p><a href="<%= gameLink %> target="_blank"">Find out more about it here.</a></p>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="./scripts/script.js"></script>
  </body>
</html>
